doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body 
        header 
            nav 
                ul
                    li Products
                    li Stockists 
                    li About us
                
            h1.logo 
                | T
                div o
                | lv
            span 🔍
        main 
            .hero
                .hero__img 
                .hero__text 
                    h2 
                        | Eyes rest from an afternoon in the sun. 
                        | Smooth textures feel cool on bare feet and skin.
                    span
                        | Featuring 
                        a(href="#") Kitsune sofa
                        | , 
                        a(href="#") armchair
                        |  and 
                        a(href="#") I-O coffee table (steel base)