%galleryImg {
  background-size: cover;
  background-position: center center;
}
@mixin RandomImage($num) {
  &:nth-child(#{$num}) {
    .gallery__item__background {
      background-image: url("https://source.unsplash.com/random/" + $num);
    }
  }
}
